<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaAhjYaTEkXME9S6MiQTw4I-MAHrWsFD0</string>
	<key>GCM_SENDER_ID</key>
	<string>957658616561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.physiokhom.physio</string>
	<key>PROJECT_ID</key>
	<string>hysiokhom</string>
	<key>STORAGE_BUCKET</key>
	<string>hysiokhom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957658616561:ios:8a8c56e002537285b2cf50</string>
</dict>
</plist>